<section class="ui stacked segment">
  <h4 class="ui block header">Published Posts</h4>
  {{#each posts}}
    <h5 class="ui block header"> {{title}} </h5>
    <p>
      {{content}}
    </p>
  {{/each}}
</section>