<nav class="ui  menu">
  <header class="ui header item"> <a href="/"> Spacebook </a></header>
  <a id="home"    class="item" href="/home">Home</a>
  <a id="members" class="item" href="/members">Members</a>
  <a id="blog"    class="item" href="/blog">Blog</a>
  <div class="right menu">
    <div class="item"> Logged in as {{user.details.firstName}} {{user.details.lastName}} </div>
    <div class="ui dropdown item">
      <i class="user icon"></i>
      <div class="menu">
        <a class="item" href="/editprofile">Settings</a>
        <a class="item" href="/logout">Logout</a>
      </div>
    </div>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>

