<section class="ui raised segment">
  <table class="ui table segment">
    <thead>
      <tr>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{user.email}}</td>
      </tr>
    </tbody>
  </table>
  <section class="ui stacked segment">
    <div class="ui medium image">
      <img src="/home/getpicture/{{user.id}}"/>
    </div>
  </section>
</section>
