<section class="ui raised segment">
  <div class="ui small dividing header"> Profile Image </div>
  <div class="ui medium image">
    <img src="/home/getpicture/{{user.details.id}}">
  </div>
  <section class="ui raised form segment">
    <form action="/home/uploadpicture" method="post" enctype="multipart/form-data">
      <div class="ui field">
        <input type="file" name="picture">  </input>
      </div>
      <button class="ui mini blue submit button"> Upload</button>
    </form>
  </section>
</section>
