{{> mainmenu id='blog'}}

<h1 class="ui inverted teal block header" >Blog  </h1>
<section class="ui two column grid segment">
  <div class="row">
    <div class="ui column">
      {{> createpost }}
    </div>
    <div class="column">
      {{> displaypost }}
    </div>
  </div>
</section>