{{> mainmenu id='members'}}

<table class="ui table">
  <thead>
    <tr>
      <th>Name</th>
      <th>follow</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>
          {{details.firstName}} {{details.lastName}}
        </td>
        <td>
          <a href="members/follow/{{details.id}}"> (follow) </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>