{{> profilemenu }}

<section class="ui raised segment">
  <div class="ui dividing header"> {{user.details.firstName}} {{user.details.lastName}}'s Profile</div>
  <section class="ui two column grid segment">
    <div class="row">
      <div class="column">
        {{> listmessages }}
      </div>
      <div class="center aligned column">
        <div class="ui small image segment">
          <img src="/home/getpicture/{{user.details.id}}"/>
        </div>
       {{> composemessage }}
      </div>
    </div>
  </section>
</section>