{{> mainmenu id='home'}}

<section class="ui celled two column grid segment">
  <div class="row">
    <div class="ui column">

    </div>
    <div class="column">
      <div class="ui comments">
        <div class="comment">

        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">

    </div>
    <div class="column">
    </div>
  </div>
</section>