{{> mainmenu id='home'}}

<section class="ui celled two column grid segment">
  <div class="row">
    <div class="ui column">
      {{> friends }}
    </div>
    <div class="column">
      {{> listmessages }}
    </div>
  </div>
  <div class="row">
    <div class="column">
      {{> profileimage }}
    </div>
    <div class="column">
    </div>
  </div>
</section>